understanding
DataFrames and Series, the two primary data structures in Pandas.

In [ ]:
import pandas as pd
# Series
series=pd.Series([1, 2, 3, 4, 5])
print(series)
# DataFrame
data=[['Thanmai',61],['vyshnavi',66],['anitha',64]]
df=pd.DataFrame(data, columns=['Name','Age'])
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
       Name  Age
0   Thanmai   61
1  vyshnavi   66
2    anitha   64

Using dictonaries

In [ ]:
# Series from a dictionary
series=pd.Series({'a': 1, 'b': 2, 'c': 3})
print(series)
# DataFrame from a dictionary
data={'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [24, 27, 22]}
df=pd.DataFrame(data)
print(df)

a    1
b    2
c    3
dtype: int64
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

Using csv

In [ ]:
df=pd.read_csv('data5.csv')
print(df)

           Date  Year Month  Recession  Consumer_Confidence  \
0     1/31/1980  1980   Jan          1               108.24
1     2/29/1980  1980   Feb          1                98.75
2     3/31/1980  1980   Mar          1               107.48
3     4/30/1980  1980   Apr          1               115.01
4     5/31/1980  1980   May          1                98.72
..          ...   ...   ...        ...                  ...
523   8/31/2023  2023   Aug          0               103.36
524   9/30/2023  2023   Sep          0               101.55
525  10/31/2023  2023   Oct          0               124.66
526  11/30/2023  2023   Nov          0                97.09
527  12/31/2023  2023   Dec          0                95.92

     Seasonality_Weight      Price  Advertising_Expenditure  Competition  \
0                  0.50  27483.571                     1558            7
1                  0.75  24308.678                     3048            4
2                  0.20  28238.443                     3137            3
3                  1.00  32615.149                     1653            7
4                  0.20  23829.233                     1319            4
..                  ...        ...                      ...          ...
523                0.25  27852.993                     1793            6
524                0.07  21183.704                     1028            5
525                0.12  15975.589                     1148            9
526                0.25  16862.288                     4850            5
527                0.34  25240.425                     2319            3

        GDP  Growth_Rate  unemployment_rate  Automobile_Sales  \
0    60.223     0.010000                5.4             456.0
1    45.986    -0.309594                4.8             555.9
2    35.141    -0.308614                3.4             620.0
3    45.673     0.230596                4.2             702.8
4    52.997     0.138197                5.3             770.4
..      ...          ...                ...               ...
523  57.169     0.764155                2.6            1579.6
524  59.315     0.036180                2.5            1123.4
525  19.472    -2.046169                2.5            1685.9
526  27.904     0.302179                2.9            2124.6
527  13.518    -1.064211                2.1            3538.5

        Vehicle_Type        City
0      Supperminicar     Georgia
1      Supperminicar    New York
2    Mediumfamilycar    New York
3      Supperminicar    Illinois
4    Smallfamiliycar  California
..               ...         ...
523     Executivecar    New York
524  Smallfamiliycar  California
525           Sports  California
526  Smallfamiliycar     Georgia
527  Smallfamiliycar     Georgia

[528 rows x 15 columns]

operations such as selecting data, filtering rows

In [ ]:
data={'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [24, 27, 22]}
df=pd.DataFrame(data)
# Selecting a column
print(df['Name'])
# Selecting multiple columns
print(df[['Name', 'Age']])
# Selecting rows by index
print(df.iloc[0])
print(df.iloc[-1])
# Filtering rows
filter=df[df['Age'] > 25]
print(filter)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
Name    Alice
Age        24
Name: 0, dtype: object
Name    Charlie
Age          22
Name: 2, dtype: object
  Name  Age
1  Bob   27

 Handling missing data

In [16]:
df=pd.read_csv('Titanic-Dataset - Titanic-Dataset.csv')

# Handling missing data
print("DataFrame before handling missing values:")
print(df)
print("\n")

df.fillna(0, inplace=True)
print("DataFrame after filling missing values with 0:")
print(df)
print("\n")

df.drop_duplicates(inplace=True)
print("DataFrame after removing duplicates:")
print(df)
print("\n")

# Data type conversions
print("DataFrame before data type conversion:")
print(df.dtypes)
print("\n")

DataFrame before handling missing values:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]


DataFrame after filling missing values with 0:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   0.0      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500     0        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250     0        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500     0        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000     0        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500     0        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500     0        Q

[891 rows x 12 columns]


DataFrame after removing duplicates:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   0.0      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500     0        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250     0        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500     0        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000     0        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500     0        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500     0        Q

[891 rows x 12 columns]


DataFrame before data type conversion:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Analysis

In [19]:
print("Summary statistics of the Titanic dataset:")
print(df.describe(include='all'))
print("\n")

# Grouping by
grouped_by_sex=df.groupby('Sex')[['Age', 'Fare']].mean()

print("Mean Age and Fare by Sex:")
print(grouped_by_sex)
print("\n")

# Grouping by
survival_rate=df.groupby(['Pclass', 'Sex'])['Survived'].mean()

print("Survival Rate by Passenger Class and Sex:")
print(survival_rate)
print("\n")

# Creating a new DataFrame with additional data
additional_data = pd.DataFrame({
    'PassengerId': [1, 2, 3, 4, 5],
    'CabinClass': ['First', 'Second', 'Third', 'First', 'Third']
})

# Merging
merged_df=pd.merge(df, additional_data, left_on='PassengerId', right_on='PassengerId', how='left')
print("Merged DataFrame (with additional data):")
print(merged_df.head())
print("\n")

Summary statistics of the Titanic dataset:
        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare  Cabin Embarked
count   891.000000  891.000000  891.000000     891  891.000000  891.0      891
unique         NaN         NaN         NaN     681         NaN  148.0        4
top            NaN         NaN         NaN  347082         NaN    0.0        S
freq           NaN         NaN         NaN       7         NaN  687.0      644
mean     23.799293    0.523008    0.381594     NaN   32.204208    NaN      NaN
std      17.596074    1.102743    0.806057     NaN   49.693429    NaN      NaN
min       0.000000    0.000000    0.000000     NaN    0.000000    NaN      NaN
25%       6.000000    0.000000    0.000000     NaN    7.910400    NaN      NaN
50%      24.000000    0.000000    0.000000     NaN   14.454200    NaN      NaN
75%      35.000000    1.000000    0.000000     NaN   31.000000    NaN      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200    NaN      NaN


Mean Age and Fare by Sex:
              Age       Fare
Sex
female  23.203822  44.479818
male    24.123345  25.523893


Survival Rate by Passenger Class and Sex:
Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64


Merged DataFrame (with additional data):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked CabinClass
0      0         A/5 21171   7.2500     0        S      First
1      0          PC 17599  71.2833   C85        C     Second
2      0  STON/O2. 3101282   7.9250     0        S      Third
3      0            113803  53.1000  C123        S      First
4      0            373450   8.0500     0        S      Third

Advantages of Using Pandas
Data Structure Flexibility:

DataFrames: Pandas' primary data structure, the DataFrame, is a 2-dimensional, size-mutable, and potentially heterogeneous tabular data structure. It is more powerful and versatile than traditional Python data structures like lists, dictionaries, and even NumPy arrays. DataFrames allow for the manipulation of large datasets with complex operations, such as filtering, grouping, and aggregating data, all with a simple and consistent API.
Series: Pandas Series is like a column in a table, and it can hold any data type. It allows for easy indexing and alignment, which is very useful in time-series analysis.
Efficiency:

Pandas is optimized for performance with large datasets, allowing for quick data processing and manipulation. Operations on large datasets, such as sorting, merging, and filtering, are significantly faster with Pandas than with native Python loops or list comprehensions.
Data Handling Capabilities:

Pandas provides robust methods for handling missing data, a common issue in real-world datasets. Functions like fillna(), dropna(), and interpolate() allow for easy imputation or removal of missing values.
Pandas also supports powerful operations like merging, joining, and concatenating DataFrames, making it easier to combine and reshape datasets from multiple sources.

Real-World Examples Where Pandas is Essential
Data Cleaning:

In any data science project, cleaning and preprocessing data is often the most time-consuming step. Pandas simplifies this process by providing functions for handling missing data, filtering outliers, normalizing data, and more. For instance, in the Titanic dataset, Pandas made it easy to fill in missing ages with the median age or to filter out records where data was insufficient.
Exploratory Data Analysis (EDA):

EDA is critical to understanding the underlying patterns in data before applying machine learning models. Pandas allows for quick aggregation of data, visualization of distributions, and calculation of correlation coefficients, which are essential steps in EDA. For example, grouping passengers by class and calculating the survival rate in the Titanic dataset gave immediate insights into how class affected survival outcomes.

Financial Data Analysis:

For professionals in finance, Pandas is indispensable for analyzing stock prices, calculating moving averages, or performing backtesting of trading strategies. Its ability to handle time-series data and integrate with financial data sources makes it a preferred tool.